.avatar {
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, .05);
}

.authorLine {
  padding: 10px 15px;
  background: rgba(255, 255, 255, .05);
}

.author, small {
  font-weight: 500;
}

.content {
  word-break: break-word;
}

