.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 35px;
  height: 35px;
}

.navbarNav {
  flex-direction: row;
}

@media (max-width: 768px) {

  .navbarNav {
    margin-bottom: 15px;
  }

}

@media (max-width: 576px) {

  .navLink {
    margin-right: 10px;
  }

}